// Specific CSS for your home-page


.team_photo {
  padding: 60px 0px;
  width: 100%;
  max-width: 800px;
  min-width: 350px;
}

.icon {
  align: center;
}

// .form_holder {
//   height: 700px;
//   width: 843px;
//   background-color: $gray;
//   margin-top: 30px;
// }

.icon_alignment {
  display: flex;
  justify-content: center;
  align-items: center;
}
