.banner {
  background-size: cover;
  height: calc(70vh);
}

.banner-paralax {
  background: linear-gradient(70deg, rgba(15,12,124,.91) 0, rgba(146,204,203,0.91) 100%), url('https://images.unsplash.com/photo-1504259804616-eda856c0149a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d865cad2743955d669ac850593138155&auto=format&fit=crop&w=1650&q=80') no-repeat center;
  background-attachment: fixed;
}
