.block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
  max-width: 450px;
}

.block-big {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
}

.block__icon {
  height:40px;
  margin-bottom: 25px;
}

.block__icon_data {
  max-height:50px;
  margin-top: 20px;
  margin-bottom: 80px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.top-buffer {
  margin: 20px 0px;
}

.block__icon_data-medium {
  height:50px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.block__icon_data-larger {
  height:80px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.block__icon_data-largest {
  height:95px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.block__title {
  font-size: 30px;
  text-align: center;
  color: $dark-blue;
  font-weight: bold;
  margin-bottom: 38px;
}

.block__text {
  text-align: center;
  color: $dark-blue;
  font-weight: lighter;
  font-size: 20px;
  line-height: 45px;
}

.right {
  margin-bottom: 30px;
}
