.button_green {
  color: white !important;
  padding: 20px 50px !important;
  border-radius: 45px !important;
  background: $aqua-blue !important;
  opacity: .9;
  transition: background 1s ease !important;

  &:hover {
    opacity: 1 !important;
    color: white !important;
  }
}
