.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 14px;
  margin-bottom: 50px;
}

.profile__photo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  box-shadow: 0 2px 26px 0 rgba(0,0,0,0.2);
  margin-bottom: 15px;
  text-align: center;
}

.profile__name {
  color: $dark-blue;
  font-size: 14px;
  text-align: center;
}

.profile__description {
  font-weight: lighter;
  max-width: 450px;
  line-height: 20px;
  font-size: 14px;
  color: $black;
}

.profile__position {
  color: $dark-blue;
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
}
